    [Unit]
    Description=oauthsub service
    After=nginx.service

    [Service]
    Type=simple
    ExecStart=/usr/local/bin/oauthsub --config /etc/oauthsub.py
    User=ubuntu
    Restart=on-abort

    [Install]
    WantedBy=multi-user.target